<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Non-foot visual and collision geometry use independent mesh files and share one editable transform. -->
  <xacro:macro name="left_link_mesh" params="visual_filename collision_filename xyz rpy scale material">
    <visual>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <geometry><mesh filename="${visual_filename}" scale="${scale}"/></geometry>
      <material name="${material}"/>
    </visual>
    <collision>
      <origin xyz="${xyz}" rpy="${rpy}"/>
      <geometry><mesh filename="${collision_filename}" scale="${scale}"/></geometry>
    </collision>
  </xacro:macro>

  <!-- Mirrored six degree-of-freedom counterpart of the right leg. -->
  <xacro:macro name="left_leg" params="parent hip_y link1_z upper_leg_length lower_leg_length foot_length foot_width foot_height foot_collision_width">
    <link name="left_link1">
      <xacro:left_link_mesh visual_filename="package://openleg_description/meshes/left_leg/Left_Link1.stl" collision_filename="package://openleg_description/meshes/left_leg/Left_Link1.stl" xyz="0 0 0" rpy="${pi / 2} 0 ${pi / 2}" scale="1 1 1" material="left_leg_blue"/>
      <inertial><origin xyz="0.035 0 0"/><mass value="1.95"/><inertia ixx="0.003758080176" ixy="-0.000113110329" ixz="0.000018626355" iyy="0.002425144326" iyz="-0.000082610274" izz="0.002891882116"/></inertial>
    </link>
    <joint name="left_base_fixed_joint" type="fixed">
      <parent link="${parent}"/><child link="left_link1"/>
      <origin xyz="0 ${hip_y} ${link1_z}" rpy="0 0 1.57"/>
    </joint>

    <link name="left_link2">
      <xacro:left_link_mesh visual_filename="package://openleg_description/meshes/left_leg/Left_Link2.stl" collision_filename="package://openleg_description/meshes/left_leg/Left_Link2.stl" xyz="0 0 0" rpy="0 ${pi} 0" scale="1 1 1" material="left_leg_blue"/>
      <inertial><origin xyz="0 0.068 0"/><mass value="1.75"/><inertia ixx="0.003134759430" ixy="0.000015824529" ixz="0.000001019248" iyy="0.001856093868" iyz="-0.000000151933" izz="0.002351329675"/></inertial>
    </link>
    <joint name="left_joint1" type="revolute">
      <parent link="left_link1"/><child link="left_link2"/>
      <origin xyz="0.064 0 0" rpy="0 ${pi} -${pi / 2}"/><axis xyz="0 -1 0"/>
      <limit lower="-0.915" upper="${-0.915 + 5 * pi / 6}" effort="40" velocity="5.23599"/>
      <dynamics damping="2.0" friction="0.05"/>
    </joint>

    <link name="left_link3">
      <xacro:left_link_mesh visual_filename="package://openleg_description/meshes/right_leg/Link3.stl" collision_filename="package://openleg_description/meshes/right_leg/Link3.stl" xyz="0 0 0" rpy="0 0 -${pi / 2}" scale="1 1 1" material="joint_dark"/>
      <inertial><origin xyz="-0.001837 0 0.044592"/><mass value="0.25"/><inertia ixx="0.000271316138" ixy="0" ixz="0.000060712575" iyy="0.000291319338" iyz="0" izz="0.000136870384"/></inertial>
    </link>
    <joint name="left_joint2" type="revolute">
      <parent link="left_link2"/><child link="left_link3"/>
      <origin xyz="0.027 0.075 0" rpy="0 0 0"/><axis xyz="1 0 0"/>
      <limit lower="-${pi / 2}" upper="${5 * pi / 36}" effort="40" velocity="5.23599"/>
      <dynamics damping="2.0" friction="0.05"/>
    </joint>

    <link name="left_link4">
      <xacro:left_link_mesh visual_filename="package://openleg_description/meshes/left_leg/Left_Link4.stl" collision_filename="package://openleg_description/meshes/left_leg/Left_Link4.stl" xyz="0 0 0" rpy="-${pi / 2} 0 -${pi / 2}" scale="1 1 1" material="left_leg_blue"/>
      <inertial>
        <origin xyz="0 -0.015 0.109"/><mass value="3.0"/>
        <inertia ixx="0.011445270031" ixy="0.000000623481" ixz="0.000025390890" iyy="0.012149594340" iyz="0.001008737419" izz="0.003608626316"/>
      </inertial>
    </link>
    <joint name="left_joint3" type="revolute">
      <parent link="left_link3"/><child link="left_link4"/>
      <origin xyz="-0.027 0 0.074" rpy="0 0 0"/><axis xyz="0 0 -1"/>
      <limit lower="-${pi / 2}" upper="${pi / 2}" effort="30" velocity="4.18879"/>
      <dynamics damping="2.5" friction="0.05"/>
    </joint>

    <link name="left_link5">
      <xacro:left_link_mesh visual_filename="package://openleg_description/meshes/right_leg/Link5.stl" collision_filename="package://openleg_description/meshes/right_leg/Link5.stl" xyz="0 0 0" rpy="0 -${pi / 2} 0" scale="1 1 1" material="left_leg_blue"/>
      <inertial>
        <origin xyz="0 -0.014 0.129"/><mass value="1.94"/>
        <inertia ixx="0.014234679170" ixy="0.000000064992" ixz="0.000000364381" iyy="0.013200580905" iyz="-0.000299782976" izz="0.002755133233"/>
      </inertial>
    </link>
    <joint name="left_joint4" type="revolute">
      <parent link="left_link4"/><child link="left_link5"/>
      <origin xyz="0 0.012 0.147"/><axis xyz="0 -1 0"/>
      <limit lower="-${37 * pi / 72}" upper="${pi / 72}" effort="40" velocity="5.23599"/>
      <dynamics damping="2.5" friction="0.05"/>
    </joint>

    <link name="left_link6">
      <xacro:left_link_mesh visual_filename="package://openleg_description/meshes/left_leg/Left_Link6.stl" collision_filename="package://openleg_description/meshes/left_leg/Left_Link6.stl" xyz="0 0 0" rpy="0 0 ${pi}" scale="1 1 1" material="joint_dark"/>
      <inertial><origin xyz="0.004103 0.040339 0.077124"/><mass value="0.95"/><inertia ixx="0.000921950313" ixy="0.000031496560" ixz="-0.000005576139" iyy="0.000789173374" iyz="-0.000027795258" izz="0.000781461582"/></inertial>
    </link>
    <joint name="left_joint5" type="revolute">
      <parent link="left_link5"/><child link="left_link6"/>
      <origin xyz="0 -0.055 0.2"/><axis xyz="0 -1 0"/>
      <limit lower="-${49 * pi / 360}" upper="${49 * pi / 360}" effort="30" velocity="4.18879"/>
      <dynamics damping="2.0" friction="0.04"/>
    </joint>

    <link name="left_link7">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 ${pi / 2}"/>
        <geometry><mesh filename="package://openleg_description/meshes/right_leg/Link7.stl" scale="1 1 1"/></geometry>
        <material name="foot_black"/>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 ${pi / 2}"/>
        <geometry><mesh filename="package://openleg_description/meshes/right_leg/Link7.stl" scale="1 1 1"/></geometry>
      </collision>
      <inertial>
        <origin xyz="0.010 0 0.052"/><mass value="0.5"/>
        <inertia ixx="0.000532780431" ixy="0" ixz="0.000013684277" iyy="0.001459897118" iyz="0" izz="0.001621743391"/>
      </inertial>
    </link>
    <joint name="left_joint6" type="revolute">
      <parent link="left_link6"/><child link="left_link7"/>
      <origin xyz="-0.032 0.043 0.08"/><axis xyz="1 0 0"/>
      <limit lower="-${pi / 6}" upper="${pi / 6}" effort="30" velocity="4.18879"/>
      <dynamics damping="2.0" friction="0.04"/>
    </joint>

    <gazebo reference="left_link1"><mu1>0.5</mu1><mu2>0.5</mu2><kp>200000</kp><kd>1000</kd><maxVel>0.05</maxVel><minDepth>0.001</minDepth></gazebo>
    <gazebo reference="left_link2"><mu1>0.5</mu1><mu2>0.5</mu2><kp>200000</kp><kd>1000</kd><maxVel>0.05</maxVel><minDepth>0.001</minDepth></gazebo>
    <gazebo reference="left_link3"><mu1>0.5</mu1><mu2>0.5</mu2><kp>200000</kp><kd>1000</kd><maxVel>0.05</maxVel><minDepth>0.001</minDepth></gazebo>
    <gazebo reference="left_link4"><mu1>0.5</mu1><mu2>0.5</mu2><kp>200000</kp><kd>1000</kd><maxVel>0.05</maxVel><minDepth>0.001</minDepth></gazebo>
    <gazebo reference="left_link5"><mu1>0.5</mu1><mu2>0.5</mu2><kp>200000</kp><kd>1000</kd><maxVel>0.05</maxVel><minDepth>0.001</minDepth></gazebo>
    <gazebo reference="left_link6"><mu1>0.5</mu1><mu2>0.5</mu2><kp>200000</kp><kd>1000</kd><maxVel>0.05</maxVel><minDepth>0.001</minDepth></gazebo>
    <gazebo reference="left_link7"><mu1>0.9</mu1><mu2>0.9</mu2><kp>200000</kp><kd>1000</kd><maxVel>0.05</maxVel><minDepth>0.001</minDepth></gazebo>
  </xacro:macro>
</robot>
